.hero{
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(rgba(210, 206, 163, 0.4),rgba(190, 210, 163,0.4)), url('../../assets/hero.jpeg');
        background-size: cover;
        background-position: center ;
        color: #fff ;
        display: flex;
        align-items: center;
        justify-content: center;    
        

}
.hero-text{
   text-align: center;
   max-width: 1000px;
  


}